<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><%= link_to "News", 'http://www.google.com' %></li>
			<li><%= link_to "Rails Tutorial", 'http://www.yahoo.com' %></li>
			
		</ul>
	</nav>
</footer>